---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';

const seo = {
  title: 'TOUT pour TOUS | Magasin à petit prix',
  description: 'Bienvenue à tout le monde pour vos envies taxiT, véloT et aire de jeuT',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h1 class="fade-in">Reconsitutions</h1>
      <p class="fade-in">Voici nos superbes photos!</p>
    </article>
  </Container>
</Layout>
